<p id="notice"><%= notice %></p>

<h1>Список зарегистрированных университетов</h1>

<table>
  <thead>
    <tr>
      <th>Ключ</th>
      <th>Название ВУЗа</th>
      <th>МОП</th>
      <th>КЭЛ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @universities.each do |university| %>
      <tr>
        <td><%= university.key %></td>
        <% @uni = UniversityPull.new()
           @uni = UniversityPull.where(["key = ?", university.key]).first%>
        <td><%= @uni.name %></td>
        <td><%= link_to "МОП", university.mop.url(:original, false) %></td>
        <td><%= link_to "КЭД", university.ked.url(:original, false) %></td>
        <td><%= link_to 'Show', university %></td>
        <td><%= link_to 'Edit', edit_university_path(university) %></td>
        <td><%= link_to 'Destroy', university, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить', new_university_path %>
